@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}





body {
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}

p {
    color: #fff;
}





.header {
    background-color: #000;
    width: 100%;
    height: 60px;
    padding: 10px 0;
}

.header__container {
    width: 50%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



@media (max-width: 499px) {
    .header__container{
        width: 90%;
    }
}





.burger-container {
    border: 1px solid black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 10%;
    background-color: #F9D004;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.burger-container--downed {
    height: 90px;
    position: fixed;
    left: 0;
    top: 40%;
    border-radius: 0px 3px 3px 0;
    border-left: none;
}

.burger-container--active {
    left: 20%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.header__burger {
    width: 40px;
    height: 38px;
    position: relative;
    padding: 6px 5px;
    border-radius: 10%;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.header__burger::before,
.header__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 6px;
    background-color: #000;
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
}

.header__burger::after {
    top: 26px;
}

.header__burger .burger__line {
    position: absolute;
    width: 30px;
    height: 6px;
    background-color: #000;
    top: 16px;
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
}

.burger__label {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: none;
    font-weight: bold;
}

.burger__label--downed {
    display: block;
    position: relative;
    top: 15px;
    left: -1px;
}



@media (max-width: 1399px) {
    .burger__label {
        display: block;
        position: relative;
        top: 15px;
        left: -1px;
    }

    .burger-container {
        height: 90px;
        position: fixed;
        left: 0;
        top: 40%;
        border-radius: 0px 3px 3px 0;
        border-left: none;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    .header__burger--active {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .burger-container--active {
        left: 20%;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
}

@media (max-width: 1199px) {
    .burger-container--active {
        left: 30%;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
}

@media (max-width: 767px) {
    .burger-container--active {
        left: 40%;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
}





.header__logo {
    margin-top: 9px;
}

.header__logo img {
    width: 110%;
}





.header__lang-nav {
    height: 35px;
    padding: 10px 25px 10px 10px;
    margin-top: 5px;
}

.header__lang-nav span {
    color: #000;
    font-weight: bold;
    position: relative;
}

.header__lang-nav span::after {
    content: '';
    position: absolute;
    top: 4px;
    right: -15px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid rgb(0, 0, 0);
}

.header__lang-nav:hover {
    background-color: #ffe75e;
}



.header__lang-list {
    border: 1px solid black;
    display: none;
    position: absolute;
    top: 60px;
    right: 24.5%;
}

.header__lang-list li a {
    color: #000;
    padding: 10px 0;
    display: block;
}

.header__lang-list li:hover {
    background-color: #ffe75e;
}

.header__lang-list li {
    font-size: 16px;
    width: 65px;
    height: 40px;
    background-color: #F9D004;
    text-align: center;
    border-bottom: 1px solid #000;
}

.header__lang-nav--active{
    background-color: #ffe75e;
}

.header__lang-list--active {
    display: inline-block;
}

@media (max-width: 499px) {
    .header__lang-list {
        right: 3%;
    }
}




.header__menu {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 20%;
    background-color: rgba(249, 208, 4, 0.9);
    border-right: 1px solid black;
    margin-left: -20%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    overflow: scroll;
}

.header__list {
    font-weight: 700;
}

.header__list a {
    display: block;
    padding: 20px 10px;
    margin-left: -1px;
    color: #000;
}

.header__list li:last-child a {
    color: #F9D004;
}

.header__list--shop {
    background-color: #000;
}

.header__list li:hover {
    background-color: #ffe75e;
}

.header__list a:last-child:hover {
    color: #000;
}



@media (max-width: 1199px) {
    .header__menu {
        width: 30%;
        margin-left: -30%;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
}

@media (max-width: 767px) {
    .header__menu {
        width: 40%;
        margin-left: -40%;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }
}





.header__burger--active .burger__line {
    display: block;
    width: 6px;
    height: 24px;
    top: 6px;
    left: 17px;
}

.header__burger--active::before {
    top: 5px;
}

.header__burger--active::after {
    bottom: 5px;
}

.header__burger--active {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.header__menu--active {
    margin-left: 0;
}





.mice__img,
.stand-with-ukr,
.bestcellers {
    max-width: 100%;
}





.videos {
    width: 1000px;
    margin: 50px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

iframe {
    width: 490px;
    height: 275px;
}





@media (max-width: 1200px) {
    .videos {
        width: 940px;
        gap: 20px;
    }

    iframe {
        width: 460px;
        height: 260px;
    }
}

@media (max-width: 992px) {
    .videos {
        width: 700px;
        gap: 20px;
    }

    iframe {
        width: 340px;
        height: 190px;
    }
}

@media (max-width: 767px) {
    .videos {
        width: 520px;
        gap: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    iframe {
        width: 520px;
        height: 290px;
    }
}

@media (max-width: 575px) {
    .videos {
        width: 90%;
        gap: 10px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    iframe {
        width: 100%;
    }
}





.yellow-line {
    height: 2px;
    width: 90%;
    max-width: 385px;
    background-color: #F9D004;
    margin: 50px auto 50px;
}





.text {
    width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}


.text__column {
    width: 490px;
}

.text__column p {
    margin-bottom: 20px;
    line-height: 1.5;
}



@media (max-width: 1200px) {
    .text {
        width: 940px;
        gap: 20px;
    }

    .text__column {
        width: 460px;
    }
}

@media (max-width: 992px) {
    .text {
        width: 700px;
        gap: 20px;
    }

    .text__column {
        width: 340px;
    }
}

@media (max-width: 767px) {
    .text {
        width: 520px;
        gap: 20px;
    }

    .text__column {
        width: 250px;
    }
}

@media (max-width: 575px) {
    .text {
        width: 90%;
        gap: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .text-column {
        width: 100%;
    }
}




.footer {
    width: 100%;
    padding-bottom: 20px;
    background-color: #212121;
    margin-top: 15px;
}

.footer__container {
    width: 1000px;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}





.footer__lang-selector * {
    display: block;
}

.footer__lang-selector span {
    font-size: 12px;
    margin-top: 35px;
    color: #fff;
}

.footer__lang-selector select {
    margin-top: 15px;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
}

.footer__list {
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    row-gap: 10px;
    margin-left: 50px;
    margin-top: 30px;
    font-weight: 700;
}

.footer__list a {
    color: #F9D004;
}

.footer__list a:hover {
    text-decoration: underline;
}

.copyright {
    text-align: center;
    margin-top: 15px;
}

.copyright span {
    color: #F9D004;
    font-weight: 600;
}



@media (max-width: 1200px) {
    .footer__container {
        width: 900px;
    }
}

@media (max-width: 992px) {
    .footer__container {
        width: 700px;
    }

    .footer__lang-selector select {
        width: 90px;
    }
}

@media (max-width: 767px) {
    .footer__container {
        width: 500px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footer__lang-selector select {
        width: auto;
    }

    .footer__list {
        margin-left: 0;
    }

    .copyright {
        margin-top: 40px;
    }
}

@media (max-width: 575px) {
    .footer__container {
        max-width: 90%;
    }
}