*{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header{
    border-bottom: 1px solid black;
    padding: 10px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 32px;
    font-weight: 700;
}

.add{
    font-size: 16px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 30px;
}

.card{
    width: 320px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
}

.cards{
    margin-top: 20px;
}

.title{
    height: 50px;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h3{
    font-size: 20px;
}

.delete{
    background-color: #fff;
}

.delete i{
    font-size: 20px;
    color: red;
}

.desc{
    padding: 10px;
}

.desc p{
    font-size: 16px;
    text-align: justify;
}

form{
    margin: 0 auto;
    margin-top: 20px;
    width: 320px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
}

input{
    border-bottom: 1px solid #000;
    font-size: 16px;
}

.form__button{
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
}

@media (max-width: 1200px) {
    .container{
        width: 100%;
        padding: 15px;
    }
}
