.wrapper{
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

h2{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin: 70px 0 45px;
}

.wrapper__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

select{
    font-size: 24px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
}

input{
    padding: 5px;
    border-bottom: 2px solid black;
    font-size: 24px;
    background-color: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.display-value{
    color: #000;
}

button{
    background-color: #fff;
}

p{
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 20px;
}

table{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 100px;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 5px;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

th:first-child,
td:first-child{
    width: 50%;
}

th:last-child,
td:last-child {
    width: 30%;
}

.tb{
    padding-bottom: 50px;
}